APP_NAME=MyTradingBot
ENVIRONMENT=paper
BYBIT_TESTNET=false
BYBIT_API_KEY=
BYBIT_API_SECRET=
BYBIT_CATEGORY=linear
SCAN_INTERVAL_SECONDS=5
MIN_24H_TURNOVER_USDT=5000000
MAX_SPREAD_BPS=12
MAX_SIMULTANEOUS_POSITIONS=3
DEFAULT_LEVERAGE=3
RISK_PER_TRADE=0.005
DB_PATH=data/tradingbot.db

PAPER_TAKER_FEE_RATE=0.00055
AUTO_MIN_CONFIDENCE=0.62
AUTO_COOLDOWN_SECONDS=90
MAX_HOLD_MINUTES=30
